@import "../../global.scss";

.portfolio {
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  h1 {
    font-style: 50px;
  }

  ul {
    margin: 20px;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      font-size: 14px;
      margin-right: 5px;
      padding: 5px;

      &.active {
        background-color: $mainColor;
        color: white;
      }
    }
  }

  .container {

    .item {

      .chess {
        height: 200px;
      }
    }
  }
}
