@import "../../global.scss";

.portfolioList {
  font-size: 24px;
  margin-right: 12px;
  margin-left: 12px;
  padding: 0px;
  cursor: pointer;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;

  &.active {
    background-color: $mainColor;
    color: black;
  }
}
