@import "../../global.scss";

.works {
  background-color: rgb(141, 197, 219) ;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    margin-bottom: 75vh;
    font-size: 80px;
    z-index: 5;

    @include mobile {
      display: none;
    }
  }

  .arrow {
    height: 70px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      left: 100px;
      top: 380px;
      transform: rotate(180deg);
    }

    &.right {
      right: 100px;
      top: 380px;
    }
  }

  .slider {
    height: 550px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 100%;
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 1280px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 90%;
          height: 80%;
          margin: 5px 0;
        }

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: cornflowerblue;
              display: flex;
              align-items: center;
              justify-content: center;

              @include mobile {
                display: none;
              }

              img {
                width: 25px;
              }
            }

            h2 {
              font-size: 30px;
              @include mobile {
                font-size: 10px;
              }
            }
            p {
              font-size: 16px;
              @include mobile {
                display: none;
              }
            }
            span {
              font-size: 22px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
              @include mobile {
                font-size: 10px;
              }
            }
          }
        }
        .right {
          flex: 8;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 700px;
            transform: rotate(-15deg);
          }
        }
      }
    }
  }
}
